<% if @object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <p><strong>Uh-Oh!</strong> We need you to take a look at <%= pluralize(@object.errors.count, "problem") %>.</p><br />
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>