<%= form_for(@micropost) do |f| %>
  
  <div class="field">
    <%= f.text_area :content, placeholder: "I'm playing..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>