<div class="container well">
  <div class="jumbotron">
        <h1>Welcome to GameDB</h1>
        <p class="lead">Our vision is to create a free database of video game information. We aim to provide users with up-to-date information on video games for all platforms.</p>
        <p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h4><i class="fa fa-user fa-2x fa-fw"></i> User Powered</h4>
          <p>GameDB is a resource created by people who play games: you.</p>

          <h4><i class="fa fa-fw fa-2x fa-group"></i> Social</h4>
          <p>Connect with friends and other gamers and see what new games they are playing.</p>

          <h4><i class="fa fa-fw fa-2x fa-book"></i> One Library</h4>
          <p>Keep track of all the games you've played, regardless of platform.</p><br />
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h4><i class="fa fa-fw fa-2x fa-dollar"></i> Free</h4> 
          <p>GameDB will always be a free, open-source, game database.</p>

          <h4><i class="fa fa-fw fa-2x fa-exchange"></i>  Compare </h4> 
          <p>Compare game libraries with friends to find out what games you have both played.</p>

          <h4><i class="fa fa-fw fa-2x fa-bar-chart-o"></i> Currently Trending</h4>
          <p>Find currently trending games based off user activity.</p><br />
        </div>
      </div>

      <div class="footer">
        <p>&copy; GameDB 2013</p>
      </div>
</div>