

<div class="container well">
<h1>Recent Searches</h1>




<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.name, game %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>

</div>