<div class="container well col-lg-8 col-lg-offset-2">


<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <%= image_tag(@img_url, :class => "media-object") %>
    </a>
    <div class="media-body">
      <h1 class="media-heading"><%= @name %></h1>
      <%= @description %>
    </div>
  </li>
</ul>

</div>
