/* Boostrapp Overide CSS */


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* END mixins, variables, etc. */

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* END miscellaneous */

/* forms */
#error_explanation {
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group.has-error;
}

/* END Forms */

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid;
    &:last-child {
      border-bottom: 1px solid;
    }
  }
}
/* END Users Index */

/* Bootstrap changes */

  .btn > a {
    color: white;
  }

  /*footer*/
  html,
  body {
    height: 100%;
  }
    #footer {
      height: 60px;
      background: rgba(116, 124, 130, .6);
      -webkit-transform: translate3d(0,0,0);
    }

    #wrap {
      min-height: 100%;
      height: auto;
      /* Negative indent footer by its height */
      margin: 0 auto -60px;
      /* Pad bottom by footer height */
      padding: 0 0 60px;
    }

    #wrap > .container {
      padding: 30px 15px 0;
    }
    .container .credit {
      margin: 20px 0;
    }
  /*ENDfooter*/

div.container.well 
{

  background: rgba(202, 195, 188, .8);
  -webkit-transform: translate3d(0,0,0);
  border: none;
}


div.jumbotron{
  background-color: #747C82;
}

/* Space out content a bit */
body {
  padding-top: 70px;
   background: url(http://unsplash.s3.amazonaws.com/batch%2010/wii.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* END Bootstrap changes */


